name: Build TWRP Recovery

on:
  workflow_dispatch:
    inputs:
      device_name:
        description: 'Device Name'
        required: true
        default: 'Tecno-LJ7'
      device_code:
        description: 'Device Code'
        required: true
        default: 'LJ7'

env:
  DEVICE: LJ7

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      
    - name: Set up environment
      run: |
        sudo apt-get update
        sudo apt-get install -y git openjdk-8-jdk android-tools-adb bc bison \
        build-essential curl flex g++-multilib gcc-multilib gnupg gperf \
        imagemagick lib32ncurses5-dev lib32readline-dev lib32z1-dev \
        liblz4-tool libncurses5-dev libsdl1.2-dev libssl-dev \
        libwxgtk3.0-gtk3-dev libxml2 libxml2-utils lzop pngcrush \
        rsync schedtool squashfs-tools xsltproc zip zlib1g-dev

      - name: Install repo
      run: |
        mkdir ~/bin
        curl https://storage.googleapis.com/git-repo-downloads/repo > ~/bin/repo
        chmod a+x ~/bin/repo
        sudo ln -sf ~/bin/repo /usr/bin/repo

      - name: Initialize repo
      run: |
        git config --global user.name "Nico170420"
        git config --global user.email "b170420nc@gmail.com"
        
      id: pwd
    - name: Clone TWRP source
      run: |
        mkdir TWRP
        cd TWRP
        repo init -u https://github.com/minimal-manifest-twrp/platform_manifest_twrp_aosp.git -b twrp-12.1
        repo sync        
        
    - name: Clone device tree
      run: |
        git clone https://github.com/Tecno-Pova-7-5G-LJ7-Development/device-tecno-lj7-twrp -b main ./device/tecno/LJ7
        
    - name: Initialize TWRP build
      run: |
        source build/envsetup.sh
        lunch twrp_LJ7-eng
        
    - name: Build TWRP
      run: |
        mka vendorbootimage
        
    - name: Upload recovery image
      uses: actions/upload-artifact@v3
      with:
        name: twrp-recovery-$LJ7
        path: platform_manifest_twrp_omni/out/target/product/$LJ7/recovery.img
